:root {
    --color-s: #F3F3F3;
    --color-p: #111111;
    --color-a: #464646;
    --color-shadow: #464646bb;
}

/* colori */
.color-s {
    color: var(--color-s);
}

.color-p {
    color: var(--color-p);
}

.color-a {
    color: var(--color-a);
}

.bg-s {
    background: var(--color-s);
}

.bg-p {
    background: var(--color-p);
}

.bg-a {
    background: var(--color-a);
}

.shadow-cus {
    background: var(--color-shadow);
}

/* font */
.playfair-display {
    font-family: "Playfair Display", serif;
}

/* DM Sans */
* {
    font-family: "DM Sans", sans-serif;
    color: var(--color-p);
}

body {
    background: var(--color-s);
}

nav {
    width: 100vw;
    position: fixed ! important;
    top: 0;
    background: transparent;
    z-index: 999;
}

.navbar-dark-fixed {
    background-color: #212529;
}


.scrollNav {
    background-color: #212529;
    transition: background-color .5s ease-in-out;
    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -ms-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    z-index: 999;
}